<% if user_signed_in? && @event.organizer_id == current_user.id %>
<br /><br />
       <label>Join Requests</label>
       <br /><br />
        <% if event.pending_requests(event.id).present? %>
            <% event.pending_requests(event.id).each do |p| %>
                <p>
                    <%= image_tag avatar_url(p.user) %>
                    <%= p.user.email%>

                        <%= link_to 'Accept', event_accept_request_path(:event_id => @event.id, :attendance_id => p.id),
                                    :class=>"btn btn-success btn-sm" %>
                        <%= link_to 'Reject', event_reject_request_path(:event_id => @event.id, :attendance_id => p.id),
                                    :class=>"btn btn-danger btn-sm" %>
                </p>
            <%end%>
        <%else%>
            <p>No Pending Requests for this event</p>
        <%end%>
<%end%>
